/* #DBF3F1 */
/* this code got out of hand before I even noticed. */
/* prolly the messiest css I've ever written. w/e, couldnt be bothered tbh... */
/* might clean it up someday */

@font-face {
  font-family: 'geist';
  src: url('/resources/font/Geist.Mono/GeistMono-Light.woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(19, 30, 33);
  /* background-color: red; */
  font-family: 'courier';
  color: lightcyan;
  /* height: 100vh; */
  /* padding-top: 1rem; */
}

header {
  border-bottom: 1px solid lightblue;
  font-size: 2rem;
  margin-top: 1rem;
  display: flex;
  align-items: end;
  padding: 10px 0 10px 27px;
}

a {
  text-decoration: none;
  color: #DBF3F1;
}

label {
  font-size: 0.83rem;
  font-weight: bold;
}

.content {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.projects {
  border-right: 3px solid lightblue;
  max-width: 250px;
}

.tasks {
  width: 60%;
}



.project-display {
  width: 100%;
  /* display: flex; */
}

.project-li {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  border-radius: 5px;
  border: solid 2px rgb(51, 59, 67);
  height: 30px;
  padding: 0 0.4rem 0 0.4rem;
}

.project-li:hover {
  border-color: #b1e3df;
}

.user-project-button,
#delete-project {
  background-color: transparent;
}

.clear-projects {
  margin-left: 53px;
}

#delete-project {
  min-width: fit-content;
  width: 25px;
  height: fit-content;
  font-size: 0.85rem;
  /* background-color: red; */
  justify-self: end;
  border-radius: 0;
  color: rgb(161, 168, 176);
}

#delete-project:hover {
  color: #DBF3F1;
  font-weight: bold;
}



.user-projects{
  margin-top: 40px;
  max-width: 90%;
}

.user-projects > h2 {
  margin-bottom: 20px;
}

/* .project-header {
  margin-bottom: 20px;
} */

.project-heading {
  display: flex;
  margin-bottom: 50px;
}

.project-heading > button {
  align-items: end;
}

button {
  height: 30px;
  min-width: 90px;
  background-color:rgb(5, 57, 56);
  border: none;
  border-radius: 3px;
  color: rgb(234, 248, 252);
  font-family: geist;
  font-size: 0.76rem;
}

button:not(.user-project-button, .delete-task-button):hover {
  background-color: rgb(25, 110, 108);
}

/* .project-button,
.user-project-button,
#delete-project {
  display: block;
  margin-top: 1.5rem;
  font-family: geist;
} */

.default-project-button {
  display: block;
  margin-top: 1.5rem;
  font-family: geist;
  font-size: 0.7rem;
  height: 25px;
  min-width: 85px;
}

.user-project-button {
  /* max-width: 90px; */
  width: 193px;
  /* width: 100%; */
  height: 135%;
  margin: 0;
  border-radius: 0;
  text-align: left;
  flex: 1;
  transform: translateY(-3px);
}

.tasks-list {
  margin-top: 30px;
  width: 100%;
}

.tasks-list > li {
  margin-top: 20px;
  border-radius: 5px;
  border: solid 2px rgb(51, 59, 67);
  padding: 5px 10px 5px 10px;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: ease-in .2s;
}

.tasks-list > li:hover {
  border-color: #DBF3F1;
}

.task-buttons {
  display: flex;
  /* justify-content: end; */
  /* margin-left: 180px; */
  right: 0;
  position: absolute;
}

.no-date {
  cursor:context-menu;
  margin-right: 10px;
  font-size: 0.97rem;
  /* z-index: 2; */
}

.date-input {
  visibility: hidden;
  position: absolute;
  /* margin-right: 20px; */
}

.detail-button {
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

.edit-task {
  margin-left: 20px;
  width: 15px;
  height: 15px;
  transform: translateY(2px);
}

.addto-important-btn {
  margin-left: 20px;
  width: 18px;
  height: 18px;
  /* z-index: 1; */
}

.delete-task-button {
  margin-left: 20px;
  min-width: fit-content;
  width: 18px;
  height: 20px;
  font-size: 0.85rem;
  background-color: transparent;
  color: rgb(161, 168, 176);
}

.delete-task-button:hover {
  color: #DBF3F1;
  font-weight: bold;
}

/* .li > p  {
  max-width: 50%;
  overflow: hidden;
} */

.task-modal,
.task-detail-modal,
.edit-task-modal {
  background: rgb(21, 82, 87);
  z-index: 1;
  padding: 1rem;
  padding-left: 1.5rem;
  margin: 0 auto;
  /* transform: translateX(-55px); */
  width: 30%;
  max-width: auto;
  border-radius: 0.5rem;
  border: none;
  color: rgb(199, 234, 246);
  font-family: geist;
  /* transform: translate(25vw, -50vh); */
}

.project-modal {
  width: 21.5%;
  transform: translateY(300px);
  background: rgb(21, 82, 87);
  z-index: 1;
  padding: 1rem;
  padding-left: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  font-family: geist;
  color: rgb(199, 234, 246);
}

.project-name {
  width: 90%;
  height: 25px;
  display: block;
  margin: 10px 0 10px 0;
}

.task-detail-modal {
  font-family: geist;
  color:rgb(233, 242, 245);
  height: fit-content;
}

.task-modal * {
  margin-bottom: 15px;
  display: block;
}

.label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  border-radius: 3px;
  outline: none;
  border: none;
}

.task-title {
  width: 70%;
  height: 30px;
}

#edit-title,
#edit-desc {
  margin: 15px 0 15px 0;
}

.task-desc,
.detail-text {
  width: 98%;
  height: 60px;
  margin-right: 25px;
  resize: none;
  /* display: block; */
}

.detail-text {
  background-color: transparent;
  border: none;
  color: rgb(233, 242, 245);
  padding: 5px;
  outline: none;
  height: 120px;
}

.modal-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.modal-button {
  /* width: 50%; */
  margin-top: 10px;
  margin-bottom: 0;
  /* display: inline; */
  margin-right: 10px;
  height: 30px;
}

ul {
  width: 100%;
}

li {
  list-style-type: none;
  display: flex;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.83);
  display: none; 
  /* display: flex; */
  z-index: 1;
}

.field-required {
  display: inline;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: geist;
  color: #ff8800;
  align-self: end;
  margin-left: 10px;
  display: none;
}

.pro-field-required {
  display: inline;
  font-size: 0.6rem;
  font-weight: bold;
  font-family: geist;
  color: #ff8800;
  align-self: end;
  display: none;
}

.task-title-area {
  display: flex;
}

.add-project,
.clear-projects,
.new-task-btn,
.clear-tasks {
  height: 25px;
  min-width: 80px;
  font-size: 0.7rem;
  background-color: rgb(6, 48, 47);
}

.new-task-btn,
.clear-tasks {
  font-size: 0.7rem;
  min-width: 75px;
  height: 25px;
  position: relative;
  
}

.new-task-btn,
.clear-tasks,
.project-button,
.add-project,
.clear-projects {
  transition: ease-in .3s;
}

.heading-buttons {
  margin-left: 50px;
  margin-bottom: 7px;
  display: flex;
}

/* .new-task-btn {
  transform: translateX(290px);
} */

.clear-tasks  {
  margin-left: 47px;
} 

.close-detail {
  margin-top: 15px;
}

.tasks-list > li {
 z-index: 1;
}
