/* #DBF3F1 */

@font-face {
  font-family: 'geist';
  src: url('/resources/font/Geist.Mono/GeistMono-Light.woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(19, 30, 33);
  font-family: 'courier';
  color: lightcyan;
  /* padding-top: 1rem; */
}

header {
  border-bottom: 1px solid lightblue;
  font-size: 2rem;
  margin-top: 1rem;
}

.content {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.projects {
  border-right: 3px solid lightblue;
  max-width: 250px;
}

/* .new-task-btn {
  margin-top: 70px;
} */

.project-li {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  border-radius: 5px;
  border: solid 2px rgb(51, 59, 67);
  height: fit-content;
  padding: 0.3rem;
}

.project-li:hover {
  border-color: #b1e3df;
}

.user-project-button,
#delete-project {
  background-color: transparent;
}

.clear-projects {
  margin-left: 33px;
}

#delete-project {
  min-width: fit-content;
  width: 25px;
  height: fit-content;
  font-size: 0.9rem;
  /* background-color: red; */
  justify-self: end;
  border-radius: 0;
  color: rgb(161, 168, 176);
}

#delete-project:hover {
  color: #DBF3F1;
  font-weight: bold;
}

.clear-tasks  {
  margin-left: 230px;
}

.user-projects{
  margin-top: 40px;
  max-width: 90%;
}

.user-projects > h2 {
  margin-bottom: 20px;
}

.project-heading {
  margin-bottom: 20px;
}

button {
  height: 30px;
  min-width: 90px;
  background-color:rgb(5, 57, 56);
  border: none;
  border-radius: 3px;
  color: rgb(234, 248, 252);
  font-family: geist;
  font-size: 0.76rem;
}

button:not(.user-project-button):hover {
  background-color: rgb(25, 110, 108);
}

/* .project-button,
.user-project-button,
#delete-project {
  display: block;
  margin-top: 1.5rem;
  font-family: geist;
} */

.default-project-button {
  display: block;
  margin-top: 1.5rem;
  font-family: geist;
}

.user-project-button {
  /* max-width: 90px; */
  width: 193px;
  /* width: 100%; */
  height: 100%;
  border-radius: 0;
  text-align: left;
}

.tasks-list {
  margin-top: 30px;
}

.tasks-list > li {
  margin-top: 20px;
  border-radius: 5px;
  border: solid 2px rgb(51, 59, 67);
  padding: 5px 10px 5px 10px;
  max-width: 90%;
  width: fit-content;
  overflow: hidden;
}

/* .li > p  {
  max-width: 50%;
  overflow: hidden;
} */

.task-modal,
.project-modal,
.task-detail-modal {
  background: rgb(21, 82, 87);
  /* z-index: 1; */
  padding: 1rem;
  padding-left: 1.5rem;
  margin: 0 auto;
  transform: translateY(-300px);
  width: 40%;
  max-width: auto;
  border-radius: 0.5rem;
  border: none;
  color: rgb(199, 234, 246);
  position: absolute;
}

.task-detail-modal {
  font-family: geist;
  color:rgb(233, 242, 245);
}

.task-modal * {
  margin-bottom: 15px;
  display: block;
}

.label {
  margin-top: 10px;
  font-weight: bold;
}

.task-title {
  width: 50%;
  height: 30px;
}

.task-desc {
  width: 98%;
  height: 60px;
  margin-right: 25px;
  resize: none;
  /* display: block; */
}

.modal-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.modal-button {
  /* width: 50%; */
  margin-top: 10px;
  margin-bottom: 0;
  /* display: inline; */
  margin-right: 10px;
  height: 30px;
}

ul {
  width: 100%;
}

li {
  list-style-type: none;
  display: flex;
  width: 100%;
}

.task-buttons {
  display: flex;
  justify-content: end;
  margin-left: 180px;
}

.no-date {
  cursor:context-menu;
}

.date-input {
  visibility: hidden;
  position: absolute;
  /* margin-right: 20px; */
}

.detail-button {
  margin-left: 20px;
  width: 25px;
  height: 25px;
}

.addto-important-btn {
  margin-left: 20px;
  width: 25px;
  height: 25px;
}

.delete-task-button {
  margin-left: 20px;
  min-width: fit-content;
  width: 25px;
  font-size: 1rem;
}